PORT=3000
# Database (Lấy từ Supabase/Postgres)
DATABASE_URL="postgres://user:pass@host:5432/db"

# Trello Config (Để dùng sau)
TRELLO_KEY="your_key"
TRELLO_TOKEN="your_token"

# Redis Config (Để dùng cho Cache/Queue)
REDIS_URL="redis://localhost:6379"